{{#if siteSettings.use_ask_question_button}}
  {{custom-url-link-button
    url=questionUrl
    buttonText="Ask Question"
  }}
{{/if}}

{{#if siteSettings.use_leave_comment_button}}
  {{custom-url-link-button
    url=commentUrl
    buttonText="Add Comment"
  }}
{{/if}}
