{{#if isEditing}}
  {{d-icon "pencil-alt"}}
{{else}}
  {{composer-actions
    composerModel=model
    options=model.replyOptions
    canWhisper=canWhisper
    openComposer=openComposer
    closeComposer=closeComposer
    action=model.action
    tabindex=tabindex}}
{{/if}}

<span class="action-title">
  {{! Handlebars does not support else if syntax }}
  {{#if (isComment model.tags )}}
    Add a Comment
  {{else}}
    {{#if (isQuestion model.tags )}}
      Ask a Question
    {{else}}
      {{actionTitle}}
    {{/if}}
  {{/if}}
</span>
