{{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}

{{#if showCategoryAdmin}}
  {{categories-admin-dropdown
    create=createCategory
    reorder=reorderCategories}}
{{/if}}

{{navigation-bar navItems=navItems filterMode=filterMode category=category}}

{{#if showCategoryNotifications}}
  {{category-notifications-button value=category.notification_level category=category}}
{{/if}}

{{#if siteSettings.question_comment_topics_enabled}}
  {{alt-create-topic-buttons
    category=category
    tag=tag
  }}
{{else}}
  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=createTopic
    disabled=createTopicDisabled
    label=createTopicLabel
  }}
{{/if}}

{{#if showCategoryEdit}}
  {{d-button
    class="btn-default edit-category"
    action=editCategory
    icon="wrench"
    label="category.edit"}}
{{/if}}
